@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bottom-three {
     margin-bottom: 3cm;
}
.bottom-one {
  margin-bottom: 1cm;
}

.bottom-onefive {
  margin-bottom: 1.5cm;
}

.top-space {
  margin-top: 2cm;
}

.html-window {
  margin-left: 3cm;
  position: fixed;
  left: 1050px;
}

.html-content-view {
  border:3px solid#362158;
  max-height: 900px;
  max-width: 750px;
  overflow-y:auto
}

.component-block{
  display:flex; 
  flex-direction:rowl;
  width: 100%;
  height: 600px;
  gap: 100px;
}

.component-block-short{
  display:flex; 
  flex-direction:rowl;
  width: 100%;
  height: 440px;
  gap: 100px;
}

.component-block-annot{
  display:flex; 
  flex-direction:rowl;
  width: 100%;
  height: px;
  gap: 25px;
}

.component-block-xshort{
  display:flex; 
  flex-direction:rowl;
  width: 100%;
  height: 100px;
  gap: 100px;
}

.component-block-vert{
  display:flex; 
  flex-direction:column;
  width: 100%;
  height: 1000px;
  gap: 100px;
}

.component-block-vert-small{
  display:flex; 
  flex-direction:column;
  width: 100%;
  gap: 50px;
}

.component-block-vert-xsmall{
  display:flex; 
  flex-direction:column;
  width: 100%;
  gap: 10px;
}

.component-block-vert-xsmall2{
  display:flex; 
  flex-direction:column;
  width: 100%;
  gap: 15px;
}

.component-block-vert-xsmall3{
  display:flex; 
  flex-direction:column;
  gap: 15px;
}

.document-select-multiple{
  position: fixed;
  top: 40px;
  left: 390px;
}

.scrollable-selector{
  display:flex; 
  flex-direction:column;
  overflow-y:auto;
  gap: 8px;
  text-align: left;
  width: 350px;
  max-height: 425px;
}

.selected-view{
  display:flex; 
  flex-direction:column;
  width: 400px;
  height: 500px;
  gap: 10px;

  position: fixed;
  top: 40px;
  left: 700px;
}

.selected-view-vf{
  display:flex; 
  flex-direction:column;
  width: 550px;
  height: 125px;
  overflow-y:auto;
  text-align: left;
}

.results-and-create{
  position: fixed;
  top: 40px;
  left: 1100px;
  width: 700px;
}

.add-all-button{
  position: fixed;
  top: 200px;
  left: 1550px;
}



.side-panel{
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
}

.list-group{
  overflow-y: auto;
  max-height: 400px;
}

.list-group-lol{
  width: 450px;
}

.fragment-box {
  border:1px solid#362158;
  padding: 10px;
  box-shadow: 5px 5px #d3d1d1;
  max-width: 300px;
  max-height: 400px
}

.floorcanvas {
  border:2px solid#0d0e11;
  position: fixed;
  left: 400px;
  top: 25px;
  box-shadow: 5px 5px #c7c9e7;
}

.vf-title{
  position: fixed;
  left: 900px;
  top: 20px;
  font-size: 30pt;
  font-weight: 700;
}

.pick-frags{
  position: fixed;
  left: 1975px;
  top: 20px;
}

.annotation-creator{
  position: fixed;
  left: 1975px;
  top: 625px;
  width: 575px;
  height: 600px;
}

.frags-for-annot{
  display:inline;
  margin: 0 5px
}

.query-options{
  position: fixed;
  left: 400px;
  top: 550px;
  width: 650px;
}


.component-block-query{
  display:flex; 
  flex-direction:rowl;
  width: 100%;
  gap: 100px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.component-block-switch{
  display:flex; 
  flex-direction:rowl;
  width: 100%;
  gap: 30px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.file-uploader{
  display: flex;
  flex-direction:column;
  gap: 20px;
}

.docviewer{
  position: fixed;
  top: 100px;
  left: 500px;
}

.topleft{
  position: fixed;
  top: 100px;
  left: 500px;
}

.cropper{
  position: fixed;
  top: 100px;
  left: 850px;
  max-width: 600px;
  max-height: 800px;
}
.imgpreview{
  position: fixed;
  top: 100px;
  left: 1575px;
  max-width: 600px;
  max-height: 800px;
}

.reset-button{
  position: fixed;
  top: 1290px;
  left: 1795px;
}

.selector-textual-position{
  position: fixed;
  top: 50px;
  left: 500px
}

.doc-selector-width{
  width: 500px;
  min-width: 500px;
}
.doc-selector-card{
  width: 550px;
  height: 500px;
}

.textual-selector-width{
  width: 800px;
  max-width: 800px;
  min-width: 800px;
}
.textual-selector-card{
  width: 850px;
  height: 500px;
}

.frag-creator-location-textual{
  position: fixed;
  top: 700px;
  left: 500px
}

.frag-creator-card-textual{
  position: fixed;
  top: 650px;
  left: 650px;
  min-width: 1200px;
  width: 1200px;
}

.fragment-selector{
  max-height: 585px
}

.fragment-selector-list{
  max-height: 200px;
  height: 200px
}

.title-location-myfrag{
  position: fixed;
  top: 50px;
  left: 975px;
}

.fragment-filter-location{
  position: fixed;
  top: 125px;
  left: 450px;
}

.fragment-grid-location{
  position: fixed;
  top: 200px;
  left: 450px;
}

.fragment-editor-location{
  position: fixed;
  left: 1850px;
  top: 100px;
}