@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bottom-three {
     margin-bottom: 3cm;
}

.top-space {
  margin-top: 2cm;
}

.html-window {
  flex: grow 1;
  width: 100%;
  margin-left: 3cm;
}

.html-content-view {
  border:3px solid#362158;
  max-height: 900px;
  max-width: 750px;
  overflow-y:auto
}

.component-block{
  display:flex; 
  flex-direction:rowl;
  width: 100%;
  height: 1000px;
  gap: 100px;
}

.component-block-vert{
  display:flex; 
  flex-direction:column;
  width: 100%;
  height: 1000px;
  gap: 100px;
}

.component-block-vert-small{
  display:flex; 
  flex-direction:column;
  width: 100%;
  height: 1000px;
  gap: 25px;
}

.document-select-multiple{
  position: fixed;
  top: 40px;
  left: 390px;
}

.scrollable-selector{
  display:flex; 
  flex-direction:column;
  overflow-y:auto;
  gap: 8px;
  text-align: left;
  width: 350px;
  max-height: 500px;
}

.selected-view{
  display:flex; 
  flex-direction:column;
  width: 400px;
  gap: 10px;

  position: fixed;
  top: 40px;
  left: 800px;
}




.side-panel{
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
}

.list-group{
  overflow-y: auto;
  max-height: 400px;
  width: 450px;
}

.fragment-box {
  border:1px solid#362158;
  padding: 10px;
  box-shadow: 5px 5px #d3d1d1;
  max-width: 300px;
  max-height: 400px
}

.floorcanvas {
  border:3px solid#101115;
  position: fixed;
  left: 400px;
  top: 100px;
}

.vf-title{
  position: fixed;
  left: 900px;
  top: 20px;
  font-size: 30pt;
  font-weight: 700;
}

.pick-frags{
  position: fixed;
  left: 2000px;
  top: 20px;
}